<form method="POST" action="/new">
    <h1>New message</h1>
    <form class="form">
        <input type="text" class="text">
        <input type="text" class="user">
        <input type="submit" value="">
    </form>
 </form>
 