<html>
<body>
    <button onclick="window.location.href='http://localhost:3000'">Go To Messages</button>
    <form method="POST" action="/new">
        <h1>New message</h1>
        <form class="form">
            <input type="text" name="text">
            <input type="text" name="user">
            <input type="submit" value="SUBMIT">
        </form>
    </form>
</body>
</html>

